.usersContainer {
    height: 100%;
    width: 20%;
    position: relative;
    display: flex;
    left: 0;
    justify-content: center;
    background: linear-gradient(239.19deg, #ba15f3 35.26%, #0014c4 89.62%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
}
.usersContainer p {
    font-size: 30px;
    font-weight: 500;
}
.usersOutsideContainer {
    height: 95%;
    width: 100%;
    background-color: honeydew;
    border-top-left-radius: 15px;
}
.usersInnerContainer {
    height: 80%;
}
.quickContactContainer {
    width: 100%;
}
.singleUserContainer {
    width: 80%;
    height: 8%;
    border: 1px solid white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin: 10px;
}
.username {
    width: 50%;
    height: 80%;
    font-size: 1.2rem;
    align-content: center;
    align-self: center;
}
.status {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    align-self: center;
    display: none;
}

.on {
    display: block;
    background-color: greenyellow;
}
.off {
    display: block;
    background-color: red;
}