.layoutContainer {
	width: 85%;
	height: 80%;
	border: 2px solid white;
	border-radius: 10px;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.users {
	min-height: 50%;
	width: 20%;
	position: relative;
	display: flex;
	left: 0;
	justify-content: center;
}
.users::after {
	content: " ";
	height: 80%;
	width: 0;
	border-right: 1px solid white;
	position: absolute;
	right: 0;
	top: 12%;
	align-content: center;
}

.userContainer {
	width: 80%;
	height: 8%;
	border: 1px solid white;
	border-radius: 15px;
	display: flex;
	flex-direction: row;
	text-align: center;
	justify-content: center;
	margin: 10px;
}
.username {
	width: 50%;
	height: 80%;
	font-size: 1.2rem;
	align-content: center;
	align-self: center;
}
.status {
	height: 15px;
	width: 15px;
	border-radius: 50%;
	align-self: center;
	display: none;
}

.on {
	display: block;
	background-color: greenyellow;
}
.off {
	display: block;
	background-color: red;
}
.chatContainer {
	height: 100%;
	width: 80%;
	position: relative;
	display: flex;
	flex-direction: column;
}
.chatWindow {
	width: 80%;
	height: 80%;
	background-color: white;
	border-radius: 15px;
	align-self: center;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
    justify-content: center;
    overflow: hidden;

}

.messageContainer {

	height: auto;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
    text-align: left;
}
.chatMessageSender {
	height: 100%;
	width: 20%;
	color: lightcoral;
	font-weight: 500;
}
.messageContent {
	width: 80%;
	min-height: 2rem;
    background-color: grey;
}
.controls {
	width: 60%;
	height: 10%;
	position: absolute;
	bottom: 5%;
	border: 1px solid white;
	right: 10%;
	border-radius: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.controls input {
	all: unset;
	min-width: 85%;
	background-color: white;
	border-radius: 15px;
	float: left;
}
.controls button {
	all: unset;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: white;
}
