.chatContainer {
    width: 85%;
    height: 80vh;
    position: absolute;
    top: 5vh;
    left: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(196, 196, 196, 0.281);
    border-radius: 20px;
}

.chatUsersContainer {
    height: 100%;
    width: 15%;
    background-color: rgba(148, 148, 148, 0.596);
    box-shadow: 0px 0px 1px 1px rgb(145, 145, 145);
    position: absolute;
    left: 0;
    background: linear-gradient(180.44deg, #5a6c9a 38.18%, #c4c4c4 118.78%);
    border-radius: 20px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.chatScreen {
    height: 85%;
    width: 85%;
    background: linear-gradient(254.31deg, rgba(184, 181, 183, 0.86) 8.61%, rgba(51, 0, 255, 0.54) 132.33%);
    align-self: flex-end;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    position: absolute;
    top: 1vh;
}
/* messages */
.messageWrapper {
    height: auto;
    width: fit-content;
    border-radius: 20px;
    margin-left: 2vw;
    position: relative;
    margin-top: 1vh;
    border: 1px solid white;
    overflow: hidden;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.sender {
    width: auto;
    height: auto;
    margin-right: 0.1vw;
}
.content {
    height: auto;
    width: auto;
}
/* MOBILE MENU */
.mobileMenuContainer {
    display: none;
}
/* CHAT KEYBOARD */
.chatControls {
    height: 5%;
    width: 85%;
    border-bottom-right-radius: 20px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 3vh;
    right: 0;
}

.keyboard {
    height: 100%;
    width: 70%;
    float: left;
}
.keyboard input {
    all: unset;
    height: 100%;
    width: 100%;
    background-color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.chatButton {
    height: 100%;
    width: 10%;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    position: relative;
    background-color: rgba(175, 175, 175, 0.836);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.chatButton img {
    background-image: url('../../assets/send.png');
    background-repeat: no-repeat;
    align-self: center;
    background-size: 100%;
    height: 30px;
    width: 30px;
    float: right;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media screen and (max-width: 500px) {
    .chatContainer {
        width: 100%;
        height: 100%;
        left: 0;
        position: relative;
    }
    .chatScreen {
        width: 100%;
        height: 85%;
        
    }
    .chatUsersContainer {
        display: none;
        position: absolute;
        height: 50%;
        width: 50%;
        top: 0;
        animation: appear 1s ease-in-out;
    }
    .chatControls {
        height: 8%;
        width: 100%;
        position: absolute;
        bottom: 5%;
    }
    .keyboard {
        width: 100%;
    }
    .keyboard input {
        width: 100%;
        border-radius: 0;
    }
    .messageWrapper:nth-child(2){
        margin-top: 10%;
    }
    .mobileMenuContainer {
        width: 100%;
        height: 5%;
        top: 1px;
        align-self: flex-start;
        position: absolute;
        top: 1px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: 5%;
    }
    .mobileButton {
        margin-top: 1px;
        height: 100%;
        width: 15%;
        margin-right: 2%;
        border: none !important;

    }
    .mobileButton img {
        all: unset;
        height: 100%;
        width: 100%;
        background-size: 100%;
        border: none !important;
        filter: invert(85%);
    }
    .mobileMenu{
        height: 60%;
        width: 80%;
        position: absolute;
        left: 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index:9999;
        background: linear-gradient(208.82deg, #E9ECF4 11.65%, rgba(111, 74, 120, 0.85) 94.08%);
        border-radius: 5px;
        letter-spacing: 1px;

    }
    .exitButton{
        all: unset;
        width: 80%;
        height: 10%;
        background-color: wheat;
        align-self: center;
        text-align: center;
        border-radius: 5px;
        margin-bottom: 2%;
    }
}
