*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  height: 100vh;
  widows: 100%;
  background: linear-gradient(230.45deg, #ECBAFD 45.47%, rgba(102, 117, 253, 0.25) 89.92%);
  align-items: center;
  display: flex;
  justify-content: center;
}

